:root {
  --orb-red-gradient: radial-gradient(
    circle at 30% 30%,
    #fff 0%,
    #fca5a5 25%,
    #ef4444 55%,
    #b91c1c 80%,
    #450a0a 100%
  );

  --orb-blue-gradient: radial-gradient(
    circle at 30% 30%,
    #fff 0%,
    #bfdbfe 25%,
    #3b82f6 55%,
    #1d4ed8 80%,
    #1e3a8a 100%
  );

  --orb-purple-gradient: radial-gradient(
    circle at 50% 50%,
    rgba(233, 213, 255, 1) 0%,
    #9333ea 50%,
    rgba(23, 7, 56, 1) 100%
  );

  --orb-red-glow: #ef4444;
  --orb-blue-glow: #3b82f6;
  --orb-purple-glow: #9333ea;

  --explosion-purple-1: #e2caf9;
  --explosion-purple-2: #c384fe;
  --explosion-purple-3: #b269f7;
  --explosion-purple-4: #9333ea;

  --explosion-purple-radiant: radial-gradient(
    circle at 50% 50%,
    var(--explosion-purple-1) 10%,
    var(--explosion-purple-2) 30%,
    var(--explosion-purple-3) 60%,
    var(--explosion-purple-4) 100%
  );
}

@theme {
  --color-orb-red-glow: var(--orb-red-glow);
  --color-orb-blue-glow: var(--orb-blue-glow);
  --color-orb-purple-glow: var(--orb-purple-glow);
}
